<a href="/">All</a>&nbsp;
<a href="/?min_stars=10">≥10⭐</a>&nbsp;
<a href="/?min_stars=50">≥50⭐</a>&nbsp;
<a href="/?min_stars=100">≥100⭐</a>&nbsp;
<a href="/?min_stars=500">≥500⭐</a>&nbsp;
<a href="/?min_stars=1000">≥1000⭐</a>&nbsp;
<a href="/?min_stars=2000">≥2000⭐</a>&nbsp;
<a href="/?min_stars=3000">≥3000⭐</a>&nbsp;

<%= raw(@content) %>